# Cocos Creator
library/
local/
temp/
build/
build-templates/
profiles/
.settings/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Node
node_modules/

# Sensitive config
.env
.env.*

# Electron
FriendsParkProj/electron/node_modules/
FriendsParkProj/electron/dist/
FriendsParkProj/electron/.electron-cache/
FriendsParkProj/electron/.eb-cache/
FriendsParkProj/electron/web-desktop/